/* CSS/mansStils.css */
body {
  /* Pievieno savu fona attēlu šeit */
  background-color: #bcf1f7;
  font-family: Arial, sans-serif;
}

/* Caurspīdīgs slānis virs fona, lai teksts būtu lasāms */
.satura-konteiners {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.nodala {
  display: none; /* Paslēpj nodaļas sākumā priekš JS funkcijas */
  padding: 20px 0;
}


